<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Bowling Tracker</title>
    {% else %}
    <title>Welcome to Bowling Tracker</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>Bowling Tracker: 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('splits') }}">Splits</a>
        <a href="{{ url_for('betting_page') }}">Betting</a>
        <a href="{{ url_for('scoring_page') }}">Scoring</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>