{% extends "base.html" %}

{% block content %}
<div class="betting-layout">
    <div class="betting-sidebar">
        <h2>Dates</h2>
        <ul>
            {% for item in all_dates %}
            <li>
                <a href="{{ url_for('betting_page', game_id=item.id) }}">
                    {{ item.display_date }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="betting-content">
        {% if game %}
        <h1>Betting for {{ game.display_date }}</h1>
        {% else %}
        <h1>Select a Betting Date</h1>
        {% endif %}
        </form>
    </div>
</div>

{% endblock %}