{% extends "base.html" %}

{% block content %}
<h1>Create New Game</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.date.label }}<br>
        {{ form.date(size=32) }}<br>
        {% for error in form.date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<h2>Games</h2>

<ul>
    {% for series in series_list %}
    <li>
        <strong>{{ series.display_date }}</strong>

        <ul>
            {% for game in series.games %}
            <li>
                Game {{ game.game_number }}
                -
                <a href="{{ url_for('scoring_page', game_id=game.id) }}">
                    Scoring
                </a>
                /
                <a href="{{ url_for('betting_page', game_id=game.id) }}">
                    Betting
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}